In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CricketTestMatchData.csv')
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1.0,119+,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
61,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [3]:
df = df.rename(columns = {
    'Mat': 'Matches',
    'NO': 'Not_Outs',
    'HS': 'Highest_Inns_Score',
    'BF': 'Balls_Faced',
    'SR': 'Batting_Strike_Rate'
})

In [4]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1

In [5]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                       True
4s                     False
6s                     False
dtype: bool

In [6]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6.0,258+,2
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1.0,107+,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3.0,51+,0

In [7]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [8]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [9]:
df[df['Player']=='CL Walcott (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1.0,107+,11

In [10]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool

In [11]:
df[df['Player'].duplicated()==1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [12]:
df[df['Player'].isin(['GA Headley (WI)', 'GS Sobers (WI)', 'JB Hobbs (ENG)', 'V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12.0,593+,32+
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4.0,276+,8

In [13]:
df = df.drop_duplicates()

In [14]:
df[df['Player'].isin(['GA Headley (WI)', 'GS Sobers (WI)', 'JB Hobbs (ENG)', 'V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12.0,593+,32+
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4.0,276+,8

In [15]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
58    [2002, 2014]
59    [1924, 1934]
60    [1930, 1938]
61    [2018, 2025]
62    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [16]:
df['Span'].str.split(pat = '-').str[1]

0     1948
1     2025
2     2016
3     1970
4     1954
      ...
58    2014
59    1934
60    1938
61    2025
62    1934
Name: Span, Length: 63, dtype: object

In [17]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [18]:
df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

In [19]:
df = df.drop(['Span'], axis = 1)

In [20]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954

In [21]:
df['Player'].str.split(pat = '(')

0               [DG Bradman , AUS)]
1               [PHKD Mendis , SL)]
2                 [AC Voges , AUS)]
3                [RG Pollock , SA)]
4                [GA Headley , WI)]
                  ...
58             [GC Smith , ICC/SA)]
59             [WH Ponsford , AUS)]
60               [SJ McCabe , AUS)]
61    [Hashmatullah Shahidi , AFG)]
62              [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [22]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]

In [23]:
df['Country']

0        AUS)
1         SL)
2        AUS)
3         SA)
4         WI)
       ...
58    ICC/SA)
59       AUS)
60       AUS)
61       AFG)
62       ENG)
Name: Country, Length: 63, dtype: object

In [24]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]

In [25]:
df['Country']

0        AUS
1         SL
2        AUS
3         SA
4         WI
       ...
58    ICC/SA
59       AUS
60       AUS
61       AFG
62       ENG
Name: Country, Length: 63, dtype: object

In [26]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [27]:
df['Player']

0               DG Bradman
1              PHKD Mendis
2                 AC Voges
3               RG Pollock
4               GA Headley
              ...
58                GC Smith
59             WH Ponsford
60               SJ McCabe
61    Hashmatullah Shahidi
62              DR Jardine
Name: Player, Length: 63, dtype: object

In [28]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [29]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1.0,119+,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938,AUS
61,Hashmatullah Shahidi,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1,2018,2025,AFG
62,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0,1928,1934,ENG

In [30]:
df['Highest_Inns_Score'].str.split(pat = '*').str[0]

0     334
1     182
2     269
3     274
4     270
     ...
58    277
59    266
60    232
61    246
62    127
Name: Highest_Inns_Score, Length: 63, dtype: object

In [31]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split(pat = '*').str[0]

In [32]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype('int')

In [33]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [34]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI

In [36]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0]

In [37]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate    False
100                    False
50                     False
0                       True
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [38]:
df[df['Balls_Faced'].isna()==1]

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
8,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6.0,258+,2,1948,1958,WI
14,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1.0,107+,11,1948,1960,WI
54,Hon.FS Jackson,20,33,4,1415,144,48.79,NaN,0.0,5,6,3.0,51+,0,1893,1905,ENG

In [39]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [40]:
df[df['Balls_Faced'].isna()==1]

Empty DataFrame
Columns: [Player, Matches, Inns, Not_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s, Rookie_Year, Final_Year, Country]
Index: []

In [41]:
df[df['Player']=='ED Weekes ']

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
8,ED Weekes,48,81,5,4455,207,58.61,0,0.0,15,19,6.0,258+,2,1948,1958,WI

In [42]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                       True
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [43]:
pd.set_option('display.max_rows', None)

In [44]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2.0,104+,1,1930,1954,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2.0,202+,6,1924,1935,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3.0,125+,4,1931,1939,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5.0,591+,27,1955,1968,ENG
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6.0,258+,2,1948,1958,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4.0,419+,27,1927,1947,ENG
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12.0,593+,32+,1954,1974,WI
11,HC Brook,30,50,1,2820,317,57.55,3222,87.52,10,13,3.0,308,47,2022,2025,ENG
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11.0,1491,51,2000,2015,SL
13,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4.0,276+,8,1908,1930,ENG
14,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1.0,107+,11,1948,1960,WI
15,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5.0,358+,7,1937,1955,ENG
16,SPD Smith,119,212,25,10477,239,56.02,19517,53.68,36,43,11.0,1143,62,2010,2025,AUS
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16.0,1488,97,1995,2013,ICC/SA
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2.0,37+,2,1921,1929,ENG
19,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11.0,1031,27,2010,2024,NZ
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1.0,65+,1,1968,1973,WI
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3.0,124,6,1993,1995,IND
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12.0,755,16,1970,1984,AUS
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3.0,115+,6,1935,1951,SA
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14.0,2058+,69,1989,2013,IND
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17.0,1559,88,1990,2006,ICC/WI
26,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6.0,788+,48,1976,1993,PAK
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8.0,1654,21,1996,2012,ICC/IND
28,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11.0,957,51,1998,2010,PAK
29,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19.0,1082,70,2000,2017,PAK
30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17.0,1509,73,1995,2012,AUS
31,YBK Jaiswal,26,49,2,2428,214,51.65,3655,66.42,7,12,5.0,301,43,2023,2025,IND
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1.0,102+,3,1920,1929,AUS
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5.0,543,20,1992,2002,ZIM
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12.0,685,39,2005,2013,AUS
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15.0,1285,36,1994,2015,WI
36,JE Root,158,288,24,13543,262,51.29,23556,57.49,39,66,13.0,1451,45,2012,2025,ENG
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12.0,908+,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22.0,1175,20,1985,2004,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14.0,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8.0,1024,64,2004,2018,SA
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11.0,1161,28,1978,1994,AUS
42,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10.0,952+,84,1974,1991,WI
43,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10.0,342+,3,1937,1957,ENG
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15.0,1387,61,1997,2014,SL
45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15.0,1105,48,1992,2007,ICC/PAK
46,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11.0,240+,11,1948,1963,WI
47,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3.0,38+,0,1911,1928,ENG
48,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16.0,1233,91,2001,2013,ICC/IND
49,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2.0,148,5,2019,2021,PAK
50,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9.0,978,39,2004,2015,AUS
51,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2.0,123+,20,1961,1966,SA
52,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3.0,41+,1,1929,1949,SA
53,JL Smith,15,25,3,1075,184,48.86,1429,75.22,2,6,NaN,111,26,2024,2025,ENG
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3.0,51+,0,1893,1905,ENG
55,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11.0,633,7,2001,2013,SL
56,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7.0,427+,1,1948,1963,AUS
57,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4.0,525+,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1.0,119+,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4.0,241+,5+,1930,1938,AUS
61,Hashmatullah Shahidi,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1,2018,2025,AFG
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2.0,53+,0,1928,1934,ENG

In [45]:
df = df.drop(56, axis = 0)

In [46]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2.0,104+,1,1930,1954,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2.0,202+,6,1924,1935,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3.0,125+,4,1931,1939,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5.0,591+,27,1955,1968,ENG
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6.0,258+,2,1948,1958,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4.0,419+,27,1927,1947,ENG
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12.0,593+,32+,1954,1974,WI
11,HC Brook,30,50,1,2820,317,57.55,3222,87.52,10,13,3.0,308,47,2022,2025,ENG
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11.0,1491,51,2000,2015,SL
13,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4.0,276+,8,1908,1930,ENG
14,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1.0,107+,11,1948,1960,WI
15,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5.0,358+,7,1937,1955,ENG
16,SPD Smith,119,212,25,10477,239,56.02,19517,53.68,36,43,11.0,1143,62,2010,2025,AUS
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16.0,1488,97,1995,2013,ICC/SA
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2.0,37+,2,1921,1929,ENG
19,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11.0,1031,27,2010,2024,NZ
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1.0,65+,1,1968,1973,WI
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3.0,124,6,1993,1995,IND
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12.0,755,16,1970,1984,AUS
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3.0,115+,6,1935,1951,SA
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14.0,2058+,69,1989,2013,IND
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17.0,1559,88,1990,2006,ICC/WI
26,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6.0,788+,48,1976,1993,PAK
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8.0,1654,21,1996,2012,ICC/IND
28,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11.0,957,51,1998,2010,PAK
29,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19.0,1082,70,2000,2017,PAK
30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17.0,1509,73,1995,2012,AUS
31,YBK Jaiswal,26,49,2,2428,214,51.65,3655,66.42,7,12,5.0,301,43,2023,2025,IND
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1.0,102+,3,1920,1929,AUS
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5.0,543,20,1992,2002,ZIM
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12.0,685,39,2005,2013,AUS
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15.0,1285,36,1994,2015,WI
36,JE Root,158,288,24,13543,262,51.29,23556,57.49,39,66,13.0,1451,45,2012,2025,ENG
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12.0,908+,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22.0,1175,20,1985,2004,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14.0,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8.0,1024,64,2004,2018,SA
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11.0,1161,28,1978,1994,AUS
42,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10.0,952+,84,1974,1991,WI
43,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10.0,342+,3,1937,1957,ENG
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15.0,1387,61,1997,2014,SL
45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15.0,1105,48,1992,2007,ICC/PAK
46,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11.0,240+,11,1948,1963,WI
47,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3.0,38+,0,1911,1928,ENG
48,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16.0,1233,91,2001,2013,ICC/IND
49,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2.0,148,5,2019,2021,PAK
50,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9.0,978,39,2004,2015,AUS
51,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2.0,123+,20,1961,1966,SA
52,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3.0,41+,1,1929,1949,SA
53,JL Smith,15,25,3,1075,184,48.86,1429,75.22,2,6,NaN,111,26,2024,2025,ENG
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3.0,51+,0,1893,1905,ENG
55,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11.0,633,7,2001,2013,SL
57,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4.0,525+,23,1965,1981,AUS
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24,2002,2014,ICC/SA
59,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1.0,119+,0,1924,1934,AUS
60,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4.0,241+,5+,1930,1938,AUS
61,Hashmatullah Shahidi,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1,2018,2025,AFG
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2.0,53+,0,1928,1934,ENG

In [47]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                       True
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [48]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [49]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [50]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].astype('float')

In [51]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_Score       int32
Ave                    float64
Balls_Faced              int32
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [53]:
df['Final_Year'] = df['Final_Year'].astype('int')

In [54]:
df['Rookie_Year'] = df['Rookie_Year'].astype('int')

In [55]:
df['career_length'] = df['Final_Year'] - df['Rookie_Year']

In [56]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7.0,626+,6,1928,1948,AUS,20
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,NaN,137,24,2022,2025,SL,3
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1.0,246+,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2.0,104+,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2.0,202+,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3.0,125+,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5.0,591+,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6.0,258+,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4.0,419+,27,1927,1947,ENG,20
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12.0,593+,32+,1954,1974,WI,20
11,HC Brook,30,50,1,2820,317,57.55,3222,87.52,10,13,3.0,308,47,2022,2025,ENG,3
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11.0,1491,51,2000,2015,SL,15
13,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4.0,276+,8,1908,1930,ENG,22
14,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1.0,107+,11,1948,1960,WI,12
15,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5.0,358+,7,1937,1955,ENG,18
16,SPD Smith,119,212,25,10477,239,56.02,19517,53.68,36,43,11.0,1143,62,2010,2025,AUS,15
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16.0,1488,97,1995,2013,ICC/SA,18
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2.0,37+,2,1921,1929,ENG,8
19,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11.0,1031,27,2010,2024,NZ,14
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1.0,65+,1,1968,1973,WI,5
21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3.0,124,6,1993,1995,IND,2
22,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12.0,755,16,1970,1984,AUS,14
23,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3.0,115+,6,1935,1951,SA,16
24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14.0,2058+,69,1989,2013,IND,24
25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17.0,1559,88,1990,2006,ICC/WI,16
26,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6.0,788+,48,1976,1993,PAK,17
27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8.0,1654,21,1996,2012,ICC/IND,16
28,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11.0,957,51,1998,2010,PAK,12
29,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19.0,1082,70,2000,2017,PAK,17
30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17.0,1509,73,1995,2012,AUS,17
31,YBK Jaiswal,26,49,2,2428,214,51.65,3655,66.42,7,12,5.0,301,43,2023,2025,IND,2
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1.0,102+,3,1920,1929,AUS,9
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5.0,543,20,1992,2002,ZIM,10
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12.0,685,39,2005,2013,AUS,8
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15.0,1285,36,1994,2015,WI,21
36,JE Root,158,288,24,13543,262,51.29,23556,57.49,39,66,13.0,1451,45,2012,2025,ENG,13
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12.0,908+,26,1971,1987,IND,16
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22.0,1175,20,1985,2004,AUS,19
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14.0,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8.0,1024,64,2004,2018,SA,14
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11.0,1161,28,1978,1994,AUS,16
42,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10.0,952+,84,1974,1991,WI,17
43,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10.0,342+,3,1937,1957,ENG,20
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15.0,1387,61,1997,2014,SL,17
45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15.0,1105,48,1992,2007,ICC/PAK,15
46,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11.0,240+,11,1948,1963,WI,15
47,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3.0,38+,0,1911,1928,ENG,17
48,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16.0,1233,91,2001,2013,ICC/IND,12
49,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2.0,148,5,2019,2021,PAK,2
50,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9.0,978,39,2004,2015,AUS,11
51,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2.0,123+,20,1961,1966,SA,5
52,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3.0,41+,1,1929,1949,SA,20
53,JL Smith,15,25,3,1075,184,48.86,1429,75.22,2,6,NaN,111,26,2024,2025,ENG,1
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3.0,51+,0,1893,1905,ENG,12
55,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11.0,633,7,2001,2013,SL,12
57,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4.0,525+,23,1965,1981,AUS,16
58,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24,2002,2014,ICC/SA,12
59,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1.0,119+,0,1924,1934,AUS,10
60,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4.0,241+,5+,1930,1938,AUS,8
61,Hashmatullah Shahidi,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1,2018,2025,AFG,7
62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2.0,53+,0,1928,1934,ENG,6

In [57]:
df['career_length'].mean()

12.838709677419354

### AVG Batting_Strike_Rate for cricketers who played over 10 years

In [58]:
df[df['career_length'] > 10]['Batting_Strike_Rate'].mean()

47.90190476190477

In [59]:
df[df['Rookie_Year'] < 1960]['Player'].count()

22

In [60]:
df.groupby('Country')['Highest_Inns_Score'].max().to_frame('Highinncountry').reset_index().sort_values('Highinncountry', ascending = False)

    Country  Highinncountry
6    ICC/WI             400
1       AUS             380
11       SL             374
12       WI             365
2       ENG             364
4   ICC/PAK             329
3   ICC/IND             319
9       PAK             313
10       SA             278
5    ICC/SA             277
8        NZ             251
7       IND             248
0       AFG             246
13      ZIM             232

In [61]:
df.groupby('Country')[['100', '50', '0']].mean()

               100         50          0
Country
AFG       2.000000   2.000000        NaN
AUS      21.571429  29.428571   9.071429
ENG      12.642857  20.571429   4.538462
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      24.000000  32.000000   8.500000
NZ       33.000000  37.000000  11.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       22.750000  34.250000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000